* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

body{

    background-color: rgb(148, 219, 195);
}

h1{
    color: blue;
}
<<<<<<< HEAD
h2{
    color: grey;
    font-size: 50px;
    text-align: center;
    padding: 50px;
   


}
=======
>>>>>>> 720d2f9025f1fa091c8f15af9d871ce3152b2c9c
h3{
    color: palevioletred;
    text-align: center;

}
form{

    color: red;
    text-align: center;
}
.Projects{
    text-align: center;
    color: cornflowerblue;
}
